<html>
    <body>
        <% for(let i = 0;i<pokemon.length;i++){ %>
            <%= pokemon[i].pokemon %>
        <% } %>
        <button onclick="window.location.href='/new'"></button>
    </body>
</html>